.containerTransactions {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    
  }

  .containerButtons{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    width: 100%;
  }